

body{background-color: white;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

h3{font-weight:black;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

h4{font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

}
p {font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;}

div {border: 2px solid gray;
margin-top: 15px;
background-color:rgb(100, 98, 98) ; }

.logo { border: 2px solid;
    padding: 20px;
    background-color: white;

}
.cuerpo{ border: 2px solid;
    padding: 20px;
    background-color: rgb(104, 100, 100);

}
.copy{ border: 2px solid;
    padding: 3px;
    background-color: white;
    text-align: end;

}
.banner{border: 3px solid;
    padding: 2px;
    background-color: white;

}
.contexto{ border: 5px solid;
    padding: 30px;
    border-color: black;

}